@media (min-width:768px )and (max-width:1024px){
       .fx-hero-section{
        height: 350px;
       }
      .fx-services-box{
        width: 700px;
      }
      .fx-services-box ul li a{
        height: 80px;
        width: 80px;
        font-size: 11px;
     }
      .fx-services-box ul li img{
        width: 30px;
      }
}
@media (max-width: 768px ){
  .fx-services-home .container-fluid{
    padding: 0px 20px;
  }
  .fx-select-services{
       padding: 10px;
  }
  .fx-services-inner-box{
    padding: 10px !important;
  }
   .fx-add-items-show{
        padding: 10px;
      }
}
@media (max-width: 767.98px ){
      .fx-hero-section{
        height: 300px;
       }
        .fx-services-box{
        width: 100%;
      }   
      .fx-services-box ul{
       overflow: scroll;
        flex-wrap: nowrap;
        overflow-y: hidden;
      }
      .md-text-end p{
        text-align: left;
      }
     
}
@media (max-width: 575px ){
  .nav-logo{
    max-width: 110px !important;
}
  .fx-services-home .container-fluid{
    padding: 0px 15px;
  }
.fx-service-name-img{
  width: 65px;
}
.fx-select-services{
  padding-bottom: 25px;
}
.fx-services-banner{
  margin-top: 15px;
}
.fx-contact-us-form, 
.fx-contact-us-text{
  padding: 20px !important;
}
}

